
h1{
    background-color: red;
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-size: 79px;
    
}
.players{
    background-color: blue;
    color: white;
    padding-right: 100px;
    width: 200px;
}
.info{
    background-color: white
    color: black;
}
.heading{
    background-color: blue;
    color: white;
    padding-right: 100px;
    width: 200px;
    float:left;
    margin-left: 40px;
}
